extends ../layouts/master.jade

block content
  #game-container
  #modals
    include ../partials/pause_modal.jade
    include ../partials/win_modal.jade

block scripts
  if dev
    script(async="", src="/browser-sync/browser-sync-client.2.10.0.js")

  script(src="scripts/vendor.js")
  script(src="scripts/app.js")
    
block styles
  link(href="styles/vendor.css", rel="stylesheet", type="text/css")
  style.
    html { height: 100%; }
    body { height: 100%; margin: 0; }
    #content {height: 100%; width: 100%; }
    #game-container { height: 100%; width: 100%; }
    .modal-dialog { width: 300px; text-align: center; }
    .modal-text { font-size: 30px; margin-bottom: 10px; }
    .modal-content { border-radius: 7px; }
    .modal-header { background-color: #CF9400; border-top-left-radius: 6px; border-top-right-radius: 6px; color: #FFF; font-size: 35px; font-weight: bold; }
    .modal-button .btn { height: 60px; line-height: 35px; margin-bottom: 15px; width: 80%; }    
