$content-height: 90%;

html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  background-color: #F1F1F1;
  font-size: 20px;
}

#header
{
  height: (100% - $content-height) / 2;

  .navbar
  {
    background-color: #25313E;
    border: 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 0;

    #title
    {
      color: #f2f6f9;
    }
  }
}

#content
{
  margin: 0 auto;
  min-height: $content-height;
  width: 50%;

  h1
  {
    padding-top: 20px;
    margin-top: 0;
    border-bottom: 1px solid black;
  }
  #main-links
  {
    position: relative;
    top: 10%;
  }
  .row
  {
    padding-bottom: 50px;
    text-align: center;
  }
  a.btn
  {
    font-size: 40px;
    width: 395px;
  }
}

#footer
{
  background-color: #65BD77;
  color: white;
  height: (100% - $content-height) / 2;
  text-align: center;

  .container
  {
    padding-top: 8px;
    // height: 100%;
  }
}
