block modal-vars
  - var modalId = "help-modal"
extends ../layouts/modal.jade

block modal-body
  .modal-text
    | The objective of the game is to connect four of one's own discs of the
    | same color next to each other vertically, horizontally, or diagonally
    | before your opponent.
  .modal-button
    button.btn.btn-lg.btn.btn-primary(type="button",data-dismiss="modal")
      | Got it
