block modal-vars
  - var modalId = "win-modal"
extends ../layouts/modal.jade

block modal-body
  #win-text.modal-text
  .modal-button
    button.btn.btn-lg.btn.btn-primary(
      type="button",
      name="restart",
      data-dismiss="modal"
    )
      | Start a new game
  .modal-button
    a.btn.btn-lg.btn-primary(href="/") Return to homepage
