doctype html
html(lang="en")
  head
    title=Connect4
    link(href="styles/vendor.css", rel="stylesheet", type="text/css")
    link(href="styles/all.css", rel="stylesheet", type="text/css")
  body
    script(src="scripts/vendor.js")
    script(src="scripts/app.js")
