extends ./views/layouts/page.jade

block content
  h1 Home
  #main-links
    .row
      a.btn.btn-primary(href="./views/game/demo.html") Play the game demo
    .row
      a.btn.btn-primary(href="./views/pages/report.html") Read the report
