doctype html
html(lang="en")
  head
    title="Connect 4"
    base(href="/")
    block styles
  body
    #header
      block header
    #content
      block content
    #footer
      block footer
    block scripts
