doctype html
html(lang="en")
  head
    title="Connect 4"
    base(href="/")
    link(href="assets/images/favicon.png", rel="icon", type="image/png")
    block styles
  body
    #header
      block header
    #content
      block content
    #footer
      block footer
    block scripts
