block modal-vars
.modal.fade.game-modal(tabindex="-1", role="dialog", id= modalId)
  .modal-dialog
    .modal-content
      .modal-header
        div Connect4
      .modal-body
        block modal-body
